<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>ADD PACKAGE - ABC TRAVEL AGENCY</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>     
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
  </head>
<body ng-app="addTourPackage" ng-controller="addTourPackageController">

    <!-- HEADER -->
    <header id="header">
        <h2 class="header-content text-dark">ABC TRAVELS</h2>
    </header>
    

    <nav class="navbar navbar-expand-lg navbar-light navbar-custom mb-2">
      <a class="navbar-brand " href="http://localhost:1212/" style="font-family: fantasy;">ABC</a>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="http://localhost:1212/">Home<span class="sr-only"></a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:1212/managerpanel">Tour Packages<span class="sr-only"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:1212/addpackage">Add Package (Managers)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:1212/domestic">Domestic Tour Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:1212/international">International Tour Packages</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="http://localhost:1212/bookticket">Book A Trip</a>
            </li>
          
          <li class="nav-item">
              <a class="nav-link" href="http://localhost:1212/feedback">Feedback</a>
            </li>

        </ul>

        <div class="my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="http://localhost:1212/login">Login<span class="sr-only"></a>
                </li>    
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:1212/signup">Sign Up<span class="sr-only"></a>
                </li>  
            </ul>
        </div>
      </div>
    </nav>

      
      <!-- HEADER -->

    <form id="form" onsubmit="redirect()">
      <h2 class="heading"> CREATE A TRAVEL PACKAGE </h2>
      <small class="form-text text-muted" style="text-align: center;">This page is only for managers</small>

      <label for="dt">Starting Date:</label>
        <input type="date" class="form-control" id="start_date" name="start_date" ng-model="package.start_date" required>
        <br>

      <label for="dt">Starting Time:</label>
        <input type="time" class="form-control" id="start_time" name="start_time" value="00:00" ng-model="package.start_time" required>
      <br>

      <label for="dt">Ending Date:</label>
        <input type="date" class="form-control" id="end_date" name="end_date" ng-model="package.end_date" required>
      <br>

      <label for="dt">Ending Time:</label>
        <input type="time" class="form-control" id="end_time" name="end_time" value="00:00" ng-model="package.end_time" required>
      <br>
        <div class="form-group">
            <label for="price">Price: </label>
            <input ng-model="package.price" type="number" class="form-control" min="0" id="price" name="price" value="0" required>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="title">Travel Package Name</label>
                <input ng-model="package.title" type="text" class="form-control" name="title" id="title" placeholder="Enter Package Name" id="title" required></input>
              </div>
        
        </div>

        <div class="form-group">
          <label for="description">Description: </label>
          <input ng-model="package.description" type="text" min="0" class="form-control" id="description" name="description" placeholder="Let your customer know how awesome the tour package is!" required>
      </div>

        <div class="form-group">
          <label for="duration">Duration: </label>
          <input type="text" min="0" class="form-control" value="will be calculated automatically" id="duration" name="duration" disabled>
      </div>
       
        <div class="form-group">
          <label for="age_min">Age Lower Limit: </label>
          <input ng-model="package.age_min" type="number" min="0" max="18" class="form-control" id="age_min" value="10" name="age_min" required>
      </div>

      <div class="form-group">
        <label for="age_max">Age Upper Limit: </label>
        <input required ng-model="package.age_max" type="number" min="30" max="100" class="form-control" id="age_max" value="90" name="age_max">
    </div>

    <div class="form-group">
          <label for="availability">Availability: </label>
          <input ng-model="package.availability" type="number" min="0" max="1000" class="form-control" id="availability" value="150" name="availability" required>
      </div>

      <div class="form-group">
        <label for="location">Location: </label>
        <input ng-model="package.location" type="text" class="form-control" id="location" placeholder="eg) Chennai, Paris, etc" name="location" required>
    </div>

    <div class="form-group">
      <label for="international">Type: </label>
      <select name="international" id="international" class="form-control" ng-model="package.international" required>
        <option name="international" value=true>International</option>
        <option name="international" value=false>Domestic</option>
      </select>
    </div>

      <button type="submit" class="btn btn-primary" style="margin-top: 2vh;" ng-click="package.save()">Submit</button>
  </form>
      
      <!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted mt-5">

    <!-- Section: Links  -->
    <section class="p-4 border-bottom navbar-custom">
      <div class="container text-center text-md-start mt-3">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-3">
              <i class="fas fa-gem me-3 text-grayish"></i>ABC TOURISM
            </h6>
            <p>
              Making tourism easier since 2022. 
              <br>
              Like, 2 days ago. From the hands of a stressed out college student.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-2">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Indian</a>
            </p>
            <p>
              <a href="#!" class="text-reset">International</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Cruise</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Short Trips</a>
            </p>
          </div>
          
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>Ettimadai, TN 00000, INDIA</p>
            <p>
              info@example.com
            </p>
            <p> + 91 234 567 88</p>
            <p> + 91 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="index.html">ABCTravels.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script> 

    var addTourPackage = angular.module("addTourPackage",[]);
    addTourPackage.config([
      "$httpProvider",
      function ($httpProvider){
        $httpProvider.defaults.useXDomain =  true;
        delete $httpProvider.defaults.headers.common["X-Requested-With"];
      },

    ]);

    addTourPackage.controller(
      "addTourPackageController",
      function ($scope,$http,$templateCache){

        $scope.package = {
          
          title: "The Generic Package",
          description: "Enter a Generic Description",
          start_date: "",
          start_time: "00:00",
          end_date: "",
          end_time: "12:00",
          location: "Enter place",
          international: "Domestic",
          availability: 100,
          duration: null,
          age_max: 90,
          age_min: 2,
          price: 1000,
          toSend: {},

          save: function(){
            var method = "POST";
            var inserturl = "http://localhost:1212/createdata";
            var packageObj = $scope.package;
            // packageObj.validate();
            // console.log("validated");
            packageObj.toSend = {
                title: packageObj.title,
                description: packageObj.description,
                start_date: packageObj.start_date,
                start_time: packageObj.start_time,
                end_date: packageObj.end_date,
                end_time: packageObj.end_time,
                location: packageObj.location,
                international: packageObj.international,
                availability: packageObj.availability,
                duration: packageObj.duration,
                age_max: packageObj.age_max,
                age_min: packageObj.age_min,
                price: packageObj.price,
              };
              console.log(packageObj.toSend);
            
            var toSendString = JSON.stringify(packageObj.toSend);
            if (toSendString == "{}"){
              alert("Enter valid data");
              return;
            }
            console.log("Data is valid");
            $http.post(inserturl, toSendString).then(function (response){
              console.log(response);
              if (response.status == 200){
                console.log("success");
                // alert("Saved successfully");
              } else {
                console.log("error");
                alert("Error while saving");
              }
            });
          },
        }
      }
    );

    function redirect() {
      window.location = "thankyou.html";
    }
  </script>
</body>
</html>